{% extends 'base.html' %}

{% block title %} BlogSite | Home Page!! {% endblock %}

{% block content %}

	<h1> This is the Home Page of the Blog Site</h1>

	User is: {{ user }}

	<!-- Available Blog Posts QuerySet is: {{object_list}} -->
	<br>
	<hr>

	{% for post in object_list %}
		<ul>
			<li>	
				<a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> 
				- {{ post.author.first_name }}   {{ post.author.last_name }} - 
				{{ post.post_date }} 
				
				{% if user.is_authenticated %}
					- <small><a href="{% url 'update_post' post.pk %}">(Edit)</a></small>
				{% endif %}
				
				<br>
				{{ post.body|slice:":200" }}
			</li>
			
		</ul>
	{% endfor %}


{% endblock %}